.DivNativeText {
    FONT-FAMILY: Georgia, Verdana, Times;
    margin-top:100px; 
    margin-left:52px;
    COLOR: #00a;
    FONT-SIZE: 22px;
    BORDER: #EEE solid 1px;    
    background: #F3F3F3;
    cursor:default;
    user-select:none;
}

#usertext {
    Z-INDEX: 2;
    filter: alpha(opacity: 0.5);    
}
.Hint {
    position:absolute;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 16px;
    Z-INDEX: 1000;
    border-radius: 4px;    
    BORDER: #BBB solid 1px;
    PADDING: 3px;
    left:400px;
    top:156px;
    background:#FF8;
    /*box-shadow: 1px 1px 1px 1px #DDD;*/
    CURSOR: pointer; 
}
.positionabsolute {
    position:absolute;
    FONT-FAMILY: "Verily Serif Mono", monospace;
    
}
.CommonFormat {
    border-radius: 4px;    
    PADDING: 8px;
    PADDING-left: 12px;    
    overflow:hidden;
    resize: none; 
    BORDER: #BBB solid 1px;
    left:52px;
    width:90%;
}
.CommonDIVFormat {
}
.AllTextAreas {    
    height: 51px;
    FONT-FAMILY: "Verily Serif Mono", monospace;
    FONT-SIZE: 24px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
}

.textarea {
    opacity: 0;

}
.propersign {
    position:absolute;
    margin-top:10px;
    left: 10px;
}
.grammatistLogoSmallScreen {
    display: none;
    position:absolute;
    top:20px;
    left: 10px;
}
.backgroundInput {
    /*background: #FFF;   */
    box-shadow: 2px 2px 3px 0px #DDD inset;
}
.InputProperShadow {
    box-shadow: 0px 0px 20px 16px #88F inset;
}

body {
    background-color:#AAB;
    /*background-image: url("resources/img/fon14.png");   */
    /*width: 85%;*/
    /*left: 5%;*/
}

.MiddleColumn {
    
}

.Header {
 POSITION: absolute; 
 FONT-FAMILY: Georgia, Verdana, Times;
 FONT-SIZE: 20px;
 top:0px;  
 left: 0px;
 width:100%;
 height: 42px;
 background: rgba(255,255,255,0.4);
 z-index:1000;
 border-bottom: solid 1px #BBB;
 PADDING: 5px;
}

.Footer {
 POSITION: absolute; 
 FONT-FAMILY: Georgia, Verdana, Times;
 FONT-SIZE: 12px;
 bottom:0px;  
 left: 0px;
 width:100%;
 height: 30px;
 z-index:1000;
}

textarea:focus{
    outline: 0;
}

.StatisticsValue {
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    BORDER: #BBB solid 1px;
    /*background: #EEE;*/
    width:40px;
    border-radius: 3px;    
    display: inline;
    padding-top:3px;
    padding-bottom:3px;
    margin-left:10px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
}
.StatisticsBlock {
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    padding-left:40px;
    padding-top:3px;
    padding-bottom:3px;
    margin-bottom:8px;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
}
.StatisticsCaption {
    padding-left:30px;
    display: inline;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    padding-top:0px;
    padding-bottom:6px;
    
}
.BigPicture {
    width:auto;
    height:300px;
    margin-left:100px;
    border-radius: 6px;  
    BORDER: #BBB solid 1px;
}
.FeedbackDiv {
    z-index:1000;
    position: absolute;
    right: 20;
    width: 300px;
    height: 200px;
    bottom: 35px;
    background:#FFD;
    box-shadow: 0px 0px 3px 3px #DDD;
    padding: 15px; 
    border-radius: 4px;    
    FONT-FAMILY: Verdana, Times;
    BORDER: #BBB solid 1px;
}

@media screen and (max-height: 800px) {
        .Header {
            display:none;
        }
        .DivNativeText {
            margin-top:10px; 
        }
        .grammatistLogoSmallScreen {
            display: block;
        }
        .Hint {
            top:66px;
        }
    }