.DivNativeText {
    FONT-FAMILY: Georgia, Verdana, Times;
    MARGIN-BOTTOM: 20px;
    COLOR: #00a;
    FONT-SIZE: 24px;
    BORDER: #88F solid 1px;
    border-radius: 10px;
    PADDING: 10px;
    WIDTH: 85%;
    left: 70px;
    box-shadow: -1px -1px 10px 2px rgba(0, 0, 0, 0.1) inset;
    background: #FFF;
}

.TextDIVs {
    BORDER-BOTTOM: #888 1px;
    POSITION: absolute;
    BORDER: #888 1px;
    WIDTH: 85%;
    height: 100px;
    FONT-FAMILY: "Verily Serif Mono", monospace;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FONT-SIZE: 24px;
    PADDING: 10px;
    left: 70px;
    border-radius: 10px;
}

#usertext {
    BORDER: #88F solid 1px;
    POSITION: absolute;
    PADDING: 10px;
    WIDTH: 87%;
    height: 120px;
    FONT-FAMILY: "Verily Serif Mono", monospace;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FONT-SIZE: 24px;
    Z-INDEX: 2; 
    filter: alpha(opacity: 0);
    border-radius: 10px;
    left: 70px;
}

.textarea {
    filter: alpha(opacity:0);
    opacity: 0;
    -moz-opacity: 0
    BORDER: #88F 1px;    
}
.background {
    Z-INDEX: -100;
    POSITION: absolute;
    WIDTH: 101%;
    HEIGHT: 114%;
    TOP: 1px;
    LEFT: 1px
}
.propersign {
    Z-INDEX: 100;
    POSITION: absolute;
    TOP: 78px;
    LEFT: 10px
}

.backgroundInput {
    background: #FFF;
    box-shadow: 3px 3px 7px #CCC inset;
    left: 71px;
    TOP: 78px;
}