.DivNativeText {
    FONT-FAMILY: Georgia, Verdana, Times;
    MARGIN-BOTTOM: 30px;
    COLOR: #00a;
    FONT-SIZE: 22px;
    BORDER: #88F solid 1px;    
    background: rgba(235,235,235,1); ;
    top: 70px;
    cursor:default;
    height: 48px;
    user-select:none;
}

#usertext {
    Z-INDEX: 2; 
    filter: alpha(opacity: 0.5);    
}
.CommonFormat {
    border-radius: 4px;    
    left: 70px;    
    WIDTH: 85%;
    PADDING: 8px;
    PADDING-left: 12px;    
    POSITION: absolute;
    overflow:hidden;
    resize: none; 
    BORDER: #BBB solid 1px;
}
.AllTextAreas {    
    height: 51px;
    FONT-FAMILY: "Verily Serif Mono", monospace;
    FONT-SIZE: 24px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FONT-SIZE: 24px;    
    top: 128px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
}

.textarea {
    opacity: 0;
    top: 128px;
    POSITION: absolute;
}
.propersign {
    Z-INDEX: 100;
    POSITION: absolute;
    top: 128px;
    LEFT: 10px;
}

.backgroundInput {
    background: #FFF;   
    top: 128px;
    box-shadow: 2px 2px 3px 0px #DDD inset;
}
.InputProperShadow {
    box-shadow: 0px 0px 20px 16px #88F inset;
}

body {
    
}
.bodyOld {
    background-image: url("resources/img/fon14.png");   
}

.MiddleColumn {
    width: 85%;
    left: 5%;
}

.Header {
 POSITION: absolute; 
 FONT-FAMILY: Georgia, Verdana, Times;
 FONT-SIZE: 20px;
 top:0px;  
 left: 0px;
 width:100%;
 height: 25px;
 background: rgba(255,255,255,0.4);
 z-index:1000;
 border-bottom: solid 1px #BBB;
 PADDING: 5px;
}

.Footer {
 POSITION: absolute; 
 FONT-FAMILY: Georgia, Verdana, Times;
 FONT-SIZE: 12px;
 bottom:0px;  
 left: 0px;
 width:100%;
 height: 30px;
 z-index:1000;
}

textarea:focus{
    outline: 0;
}

.StatisticsValue {
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    BORDER: #BBB solid 1px;
    background: #EEE;
    width:40px;
    border-radius: 3px;    
    display: inline;
    padding-top:3px;
    padding-bottom:3px;
    margin-left:10px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
}
.StatisticsBlock {
    top:210px;
    POSITION: absolute;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    top=150px; 
    position:absolute;
    padding-left:40px;
    padding-top:3px;
    padding-bottom:3px;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
}
.StatisticsCaption {
    padding-left:30px;
    display: inline;
    FONT-FAMILY: Verdana, Times;
    FONT-SIZE: 12px;
    padding-top:0px;
    padding-bottom:6px;
    
}
.BigPicture {
    top:280px;
    POSITION: absolute;
    width:auto;
    height:300px;
    left:100px;
    border-radius: 6px;  
    BORDER: #BBB solid 1px;
}
.FeedbackDiv {
    z-index:1000;
    position: absolute;
    right: 20;
    width: 300px;
    height: 200px;
    bottom: 35px;
    background:#FFD;
    box-shadow: 0px 0px 3px 3px #DDD;
    padding: 15px; 
    border-radius: 4px;    
    FONT-FAMILY: Verdana, Times;
    BORDER: #BBB solid 1px;
}