<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="myApp">
<head>
    <meta content="text/html; charset=utf-8;" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Граматист - практическое изучение английского языка</title>
</head>
<body ng-controller="mainCtrl" onload="FocusOnInput()">
    <!-- Background  -->
    <img ng-show="isPhrasesEqual()" class="propersign" id="propersign" src="resources/img/ProperAnswerBlue.png">

    <div class="Header1">
        <select ng-model='currentCategory'
                ng-change="categoryOnChange(currentCategory)"
                ng-options="category.name for category in categories"></select>
        <select ng-model='currentPhrase'
                ng-change="phrasesListOnChange(currentPhrase)"
                ng-options="curPhrase.text.ru for curPhrase in phrasesList"></select>
    </div>
    <div id="MiddleColumn" class="MiddleColumn">
        <textarea id="NativeLanguagePhrase" class="DivNativeText CommonFormat" unselectable='on' onselectstart='return false;' onmousedown='return false;' >{{currentPhrase.text.ru}}</textarea>
        <!-- Spaces and markup -->
        <textarea id="UnderlinesForPhrase" class="AllTextAreas CommonFormat backgroundInput" style="Z-INDEX: -4; COLOR: #999" >{{underlinesText}}</textarea>
       <!-- underline -->
        <textarea id="GrayedText" class="AllTextAreas CommonFormat" style="Z-INDEX: -3; COLOR: #bbb; CURSOR: none; pointer-events: none" >{{grayText}}</textarea>
        <!-- GrayedText -->
        <textarea style="Z-INDEX: 1; COLOR: #00f" class="AllTextAreas CommonFormat">{{blueText}}</textarea>
        <textarea id="userText" class="AllTextAreas CommonFormat" ng-model="userText" ng-change="onUserTextChange()" ng-enter="onUserTextEnter()" spellcheck="false">Mi name iz Nikolay</textarea>
        <!-- RED! text -->
        <textarea style="Z-INDEX: 5; COLOR: #F00; CURSOR: none; pointer-events: none" id="RedText" class="AllTextAreas CommonFormat">{{redText}}</textarea>
        <div class="Hint" ng-show="isContainErrors()">
            <h2> Нажми Enter для подсказки</h2>
        </div>
        <div id=Statistics class="StatisticsBlock">
            <div class="StatisticsCaption">Phrases repeared: </div><div id=PhrasesRepeated class="StatisticsValue">23</div>
            <div class="StatisticsCaption">Learned: </div><div id=PhrasesLearned class="StatisticsValue">1/345</div>
            <div class="StatisticsCaption">Number of mistakes: </div><div id=MistakeCount class="StatisticsValue" style="color:red;">15</div>
        </div>

        <div id=picture><img class="BigPicture" src="resources/img/ExampleOfPhrasePhoto.jpg" oncontextmenu ="return false;" ></div>
    </div> <!-- Middle column -->
    <div class="Footer">   Here is the footer <a ref="mailto:gramatist@gmail.com" style="float:right;">Send feedback</a></div>
    <div id="userData"
         ng-controller="AuthCtrl"
         style="position: absolute; top: 0; right: 0">
        <div class="LoginForm"
             ng-show="!isAuthentificated()">
            <input id="userEmail" ng-model="userEmail" type="text"/>
            <input id="userPassword" ng-model="userPassword" type="text"/>
            <button>Sign up</button>
            <button ng-click="authWithPassword(userEmail,userPassword)" >Login</button>
        </div>
        <div id="userInformation"
             ng-show="isAuthentificated()">
            {{authData.password.email}} <button ng-click="signOut()" >Sign out</button>
        </div>
        <div id="errorMessage"
             ng-show="errorMessage !== ''">
            <div class="errorMessage" style="background-color: red; color: white">{{errorMessage}}</div>
        </div>

    </div>
    <!-- Angular scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src ="app.js"></script>
    <script src ="authentication/auth.js"></script></body>
</html>